<!DOCTYPE html>
{% load staticfiles %}

<html>

	<head>
		<title>Rango</title>
	</head>

	<body>
		<h1>Rango says...</h1>
		<div>
			here is the about page. <br />
			<strong>This tutorial has been put together by Lawrence Zhang.</strong>
		</div>
		<div>
			<a href="/rango/">Index</a><br />
			<img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /> 
			<img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat." />
			<!-- for some unknown reason, the jpg doesn't show up when I use "media/cat.jpg" only -->
			<!-- oh I see we need a slash before that media/ -->
			<!-- another way: {{ MEDIA_URL }}cat.jpg -->
		</div>
	</body>

</html>